body{
  background-color:peachpuff;
}

  /* Define the app grid layout */
.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  
}

/* Style the main title */
.heading {
  color: black;
}

/* Style the columns with borders */
.columntodo {
 background-color:lightgray;
}
.columnprocess{
background-color:lightgray ;
}
.columncomplete{
  background-color: lightgrey;
}
/* Style the column titles */
h2 {
  color: white;
  text-align: center;
  margin: 0;
  padding: 10px;
}

/* Style the "+" button */
.add-button {
  background:blue;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 24px;
  display: block;
  margin: 0 auto;
}

/* Style the task input container when adding */
.task.adding {
  background:peachpuff;
  border: 1px solid palegoldenrod;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the input field during editing */
.task.editing input {
  flex: 1;
  padding: 5px;
  border: 1px solid palegoldenrod;
}

/* Style the task buttons */
.task button {
  background: palegoldenrod;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

/* Change button color on hover */
.task button:hover {
  background: gold;
}
