body{
  background: linear-gradient(to bottom, black, white);
  background-attachment: fixed;
  background-size: cover;
}

  /* Define the app grid layout */
.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  
}


.heading {
  color: white;
  text-align: center;
}
.columntodo {
 background-color:white;

}
.columnprocess{
background-color:white ;

}
.columncomplete{
  background-color: white;
 
  
}

h2 {
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px;
}


.add-button {
  background: black;
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  font-size: 24px;
  display: block;
  margin-bottom: 100px;
  margin-left: 50px;
}


.task.adding {
  background:black;
  border: 1px solid white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the input field during editing */
.task.editing input {
  flex: 1;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
}

/* Style the task buttons */
.task button {
  background: black;
  color: white;
  border: 3px solid white;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

/* Change button color on hover */
.task button:hover {
  background: lightgray;
}
